astroid==2.14.2
cx-Freeze==6.14.4
dill==0.3.6
easysnmp==0.2.6
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
patchelf==0.17.2.0
platformdirs==3.0.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
tk==0.1.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
wrapt==1.14.1